<html>
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>Nymeyer Carpentry</title>
  <link rel='stylesheet' id='application.css-css' href='/assets/css/main.css' type='text/css' media='all' />
</head>
<body>
  <header id="global-header">
    <div class="logo">
      <a href="/">{% include svg/logo-color.svg %}</a>
      <div id="mobileNav" class="mobile-nav">
        <div class="line animate"></div>
        <div class="line animate"></div>
      </div>
    </div>
    <div class="nav-section animate">
      <div class="social-nav">
        <a class="animate" href="https://www.instagram.com/nymeyer_carpentry/">{% include svg/instagram.com.svg %}</a>
        <a class="animate" href="https://www.facebook.com/nymeyercarpentry">{% include svg/facebook.com.svg %}</a>
      </div>
      <nav class="main-nav">
        <a class="animate" href="/contact-us">Contact Us</a>
        <a class="animate" href="/gallery">Gallery</a>
        <a class="animate" href="/services">Services</a>
        <a class="animate" href="/how-to-get-started">How to get started</a>
      </nav>
      <div class="info">
        <a href="tel:219-688-5408">219-688-5408</a>
        <a href="mailto:jnymeyer@nymeyercarpentry.com">jnymeyer@nymeyercarpentry.com</a>
      </div>
    </div>
    <div class="featured-link">
      <a target="_blank" href="http://www.houzz.com/pro/josh-nymeyer/nymeyer-carpentry">
        <span>Featured on </span>
        {% include svg/houzz.svg %}
      </a>
    </div>
  </header>
  <main id="global-content">