@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
// @import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700');

$headline: "Roboto", sans-serif;
$body: "Georgia", serif;

$fontsizeXL: 3em;
$fontsizeL: 2em;
$fontsizeM: 1.5em;
$fontsizeS: 1em;
$fontsizeXS: 0.8em;
$fontsizeMargin: 0.5em;

a{
	text-decoration: underline;
	color: $tertiary;
}

strong{
	font-weight: bold;
}

em{
	font-style: italic;
}

p{
	font-size: $fontsizeS;
	font-family: $body; 
	line-height: 1.2; 
	margin-bottom: $fontsizeM;
}

ul{
	list-style: disc outside;
	margin-left: 1em;
	margin-bottom: $fontsizeMargin;
	font-size: $fontsizeS;
	font-family: $body;
	line-height: 1.2;
	
	li{
	    // padding-left: 1em; 
	    // text-indent: -0.6em;
	    // margin-left: 0.3em;
	}
}

h3{
	font-size: $fontsizeM;
	font-family: $headline;
	margin-bottom: $fontsizeMargin;
}

h2{
	font-size: $fontsizeL;
	font-family: $headline;
	margin-bottom: $fontsizeMargin;
}

h1{
	font-size: $fontsizeXL;
	font-family: $headline;
	margin-bottom: $fontsizeMargin;
	
	@include breakpoint($breakpoint1) {
		
		h1{
			font-size: $fontsizeL;	
		}
	}
}